



/* header-section-start */


.container {max-width: 1403px; padding: 0 42px;width: 100%; margin: 0 auto;}


.navbar {
  border-block: 1px solid #ece9e9;
}
.container_hader {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding-left: 24px;

  padding-right: 24px;
  height: 60px;
}

.talkbtn {
  height: 46px;
  border: 1px solid #2e8096;
  padding: 10px 26px 9px;
  color: #fff;
  background-color: #2e8096;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
}

.talkbtn:hover {
  background-color: white;
  color: #2e8096;
  border: 1px solid #2e8096;
  transition: all 0.3s ease-out;
}
.nav_direction {
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

/* header-section-end */

/* hero-section-start */

.hero_container {
  max-width: 1403px;
  padding: 0 42px;
  margin: 0 auto;
}

.hero_main {
  padding: 0px;
  margin: 0;
  display: flex;
}

.hero_left {
  float: left;
  max-width: 50%;
  width: 100%;
  padding-top: 100px;
  margin: 0 20px 0 0;
}

.hero_left_h1 {   margin-top: 20px;  margin-bottom: 10px;  font-size: 41px;  font-weight: 700;line-height: 60px; }
.hero_left_p {font-size: 24px;  line-height: 40px;padding:  0; margin: 0;}

.hero_right {
  float: right;
  max-width: 50%;
  width: 100%;
  margin: 10px 0 0 100px;
}

.btn_box {
  width: 100%;
  padding: 10px 0;
  margin: 0;
}
.book_btn {
  height: 60px;
  background-color: #2e8096;
  padding: 0 21px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin: 20px 0;
}

.read_btn {
  height: 60px;
  background-color: transparent;
  padding: 0 21px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #096680;
  margin: 20px 0;
}
.team {
  padding: 10px 0;
  margin: 0;
}

.img_fluid {
  max-width: 100%;
  width: 100%;
  filter: grayscale();
}
.img_fluid:hover {
  filter: none;
}


/* hero-section-end */


/*************** service wrapper start*************/


.service_wrapper {
  padding: 50px 0;
  margin: 0;
}

.service_wrapper h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.service_wrapper p {
  padding: 20px 0 70px 0px;
  line-height: 36px;
  max-width: 600px;
  width: 100%;
  font-size: 20px;
  margin: 0 auto;

  text-align: center;

}

.service-box1 {
  background-image: linear-gradient(rgba(13, 51, 62, 0), #2e7f95), ;
  background-size: cover;

  min-height: 376px;
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
}

.service_content1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 376px;
  padding: 0 20px;
}

.service_content1 h1 {
  color: #fff;
  padding: 10px 0px;
  margin: 0;
  font-size: 29px;
  font-weight: 800;
}

.service_content1 p {
  color: #fff;
  padding: 10px 0px;
  margin: 0;
  text-align: left;
  font-size: 18px;
}

.service_content1 .bi {
  color: #fff;
  padding: 10px 0px;
  margin: 0;
  font-size: 30px;
}

.service_box2 {
  background-image: linear-gradient(rgba(13, 51, 62, 0), #2e7f95), ;
  background-size: auto, cover;
  min-height: 376px;
  border-radius: 5px;
}

.service_box3 {
  background-image: linear-gradient(rgba(13, 51, 62, 0), #2e7f95),;
  background-size: cover;
  min-height: 376px;
  border-radius: 5px;
}

.service_box4 {
  background-image: linear-gradient(rgba(13, 51, 62, 0), #2e7f95), ;
  background-size: cover;
  min-height: 376px;
  border-radius: 5px;
}


/*************** service wrapper end*************/








/* 
////***************Footer start*************8// */




.footer_wrapper {
    padding-top: 120px;
    padding-bottom: 32px;
    background-color: #1b1c1d;
}

.footer_wrapper img {
    max-width: 60%;
    width: 100%;
    line-height: 32px;
    padding: 10px 0;
}

.footer_wrapper h2 {
    text-align: left;
    margin-top: 12px;
    padding-right: 47px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.footer_wrapper .icon {
    list-style: none;
    display: flex;
    padding: 00;
    margin: 0;
}

.footer_wrapper .icon li {
    padding: 10px 10px 0 0  ;
    margin: 0;
    color: #fff;
}

.footer_wrapper h4 {
    font-size: 20px;
    padding: 10px 0;
    line-height: 150%;
    color: #fff;
    font-weight: 600  
}

.footer_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_wrapper ul li {
    padding: 0;
    margin: 0;
    line-height: 32px;
    font-size: 18px;
    padding: 5px 0;
}

.footer_wrapper ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 400;

}

.footer_wrapper h1 {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 0 18px 0;
}

.footer_wrapper .img-icon {
    max-width: 48px;
    width: 100%;
    min-height: 48px;
    padding: 0;
}

.footer_wrapper p {
    color: #fff;
    line-height: 32px;
    padding-right: 10px;
}

.copy-right {
    padding: 50px 0 20px 0;
}

.footer_wrapper p span {
    color: gray;
    font-size: 14px;
    opacity: .8;
}


.footer_main {
    width: 100%;
    display: flex;
    max-width: 100%;
}

.footer_left {
    float: left;
    max-width: 15%;
    width: 100%;
}

.footer_right {
    float: right;
    max-width: 85%;
    width: 100%;
}

.footer_rigt p{
  font-size: 16px;
  line-height: 32px;
}

.a .mail {
  color: white;
}

.footer_left .address_icon  .Bi  {
  color: red;
}


/* ////******footer end*******.// */



/* ////******Tailored start*******.// */



.model_wrapper {
  padding: 80px 0 110px 0;
  margin: 0;
  background-color: #f9f9f9;
  ;
}

.model_main {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 00;
  margin: 0;
}

.model_left {
  float: left;
  max-width: 55%;
  width: 100%;
}

.model_right {
  float: right;
  max-width: 45%;
  width: 100%;
  padding-left: 97px;
}

.model_box {
  background-color: #fff;
  padding: 44px 40px;
  margin: 0 10px 20px 10px;
  border-radius: 5px;
  height: 420px;

}
.model_box:hover{
  box-shadow: 0 12px 18px rgba(0,0,0,.2);
}

.model_box img {
  width: 77px;
  height: 65px;
}

.model_box h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  padding: 15px 0 10px 0;
}

.model_box p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.model_right h2 {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
}

.model_right h2 span {
  color: #2e8096;
}

.model_right p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.read_btn2 {
  height: 60px;
  background-color: transparent;
  padding: 0 px;
  font-size: 18px;
  display: flex;
  border: none;
  border-radius: 10px;
  margin: 0;
}

.read_btn2 .bi {
  margin: 0 10px;
  font-size: 25px;
}

.read_btn2:hover .bi {
  margin: 0 20px;
  transition: all 0.4s ease;
}



/* ////******Tailored end*******.// */





/* // midea query /// */

@media (max-width: 1200px) {
  .model_box  {    height: 505px;}
}


@media  (max-width: 992px) {


  /* /******** hero section  start************* */
  .hero_main {
   
    display: block;
  }
  
  .hero_left {
    float: none;
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    margin: 0 20px 0 0;
  } 

  
  .hero_right {
    float: none;
    max-width: 100%;
    width: 100%;
    margin: 10px 0 0 100px;
  }

  .book_btn {padding: 0 4px;
    margin: 20px 0;}
    .read_btn {padding: 0 4px;
      margin: 20px 0;}

  .hero_left_h1 {   margin-top: 20px;  margin-bottom: 10px; font-size: 30px; }
.hero_left_p {font-size: 24px;line-height: 40px;}


  /* /******** hero section  end************* */


  /* /******** tailored section  start************* */

.model_wrapper {padding: 70px 0 80px 0;}
.model_box  {    height: 350px;padding: 32px;}
.model_main { width: 100%; max-width: 100%; padding: 00; margin: 0;flex-direction: column-reverse;}
.model_left {float: none; max-width: 100%; width: 100%;}
.model_right {float: none; max-width: 100%; width: 100%; padding-left: 0%;;}


 /* /******** tailored section  end************* */


}


@media  (max-width: 768px) {
.book_btn  {height: 60px;   } 

.hero_left {
  padding-top: 50px;
}

  /* /******** tailored section  start************* */
.model_wrapper {padding: 50px 0 64px 0;}
.model_box { padding: 32px ; margin: 10px 0 10px 0 ; border-radius: 6px;height: 300px;}

 /* /******** tailored section  end************* */

}


@media  (max-width: 600px) {  
  .hero_left_h1 {text-align: center;}
}




@media  (max-width: 500px) { 

/* /******** tailored section  start************* */

.model_box {height:350px;}
.model_wrapper {padding: 10px  0;} 

.model_right h2 { margin: 30px 0px;  font-size: 26px;line-height: 36px;}
.model_box img {width: 77px; height: 65px; margin: 0px  0 0px 0;}
.model_box h3 {font-size: 22px; line-height: 28px;}

/* /******** tailored section  start************* */
}

@media only screen and (max-width: 468px) {


  .hero_main {padding: 20px 0px;}
  .hero_left_h1 {  text-align: center; font-size: 36px; line-height: 45px;}
  .hero_left_p {text-align: left;      font-size: 22px;   line-height: 35px;}
  .team  p {font-size: 14px; line-height: 30px; text-align: center;}
} 

@media  (max-width: 400px) { 

  /* /******** tailored section  start************* */
  .model_box {height: 400px;}

/* /******** tailored section  start************* */
}


/* // midea query /// */
